@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto+Condensed);

div {
  border-radius: 5px;
}

a {
  color: #787C7F;
  margin-left: 50px
}

a:visited {
  color: #5B9DD1;
}

a:hover,
a:focus {
  color: #6675C3;
}

#header {
  margin-top: 5px;
  height: 80px;
  background-color: #787C7F;
  margin-bottom: 10px;
}

#menu {
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: -140px;
}

body {
  color: #ffffff;
}

h1 {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 28px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

address {
  float: right;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

h2, h3 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

a:hover {
  font-weight: bold;
}

.left {
  position: relative;
  float: left;
  width: 10%;
  height: 600px;
  background-color: #5B9DD1;
  margin-bottom: 10px;
}

.right {
  position: relative;
  float: right;
  width: 88%;
  height: 600;
  background-color: #172738;
  margin-bottom: 10px;
}

p {
  margin-left: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

abbr {
  margin-left: 50px;
}

h2 {
  margin-left: 50px;
}

ul {
  margin-left: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}
