* {
  background: transparent;
  color: black;
  font-family: serif;
  font-size: 11pt;
}

@page {
  margin: 0.5in;
}

#nav {
  display: none
}

a {
  text-decoration: none;
}

a[href^="http"] {
  display: inline;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 24pt;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 16pt;
  border-bottom: 1pt solid black;
  margin-bottom: 0.2in;
}

h3,
h4 {
  margin: 0;
  display: inline-block;
  font-size: 14pt;
}

ul {
  page-break-inside: avoid;
}

.experience,
.honors,
.skills {
	line-height: 1.1;
}
