* {
  background: transparent;
  color: black;
  font-family: serif;
  font-size: 11pt;
}

@page {
  margin: 0.5in;
}

#nav {
  display: none
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 24pt;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 16pt;
  border-bottom: 1pt solid black;
  margin-bottom: 0.2in;
}

h3, h3 + h4 {
  margin: 0;
  display: inline-block;
  font-size: 14pt;
}

article {
  page-break-before: always;
}

ul,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100%;
}

.experience,
.honors,
.skills {
	line-height: 1.2;
}
