* {
  background: transparent;
  color: black;
  font-family: serif;
  font-size: 11pt;
}

a {
  display: none;
}

@page {
  margin: 0.5in;
}

#nav {
  display: none
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 24pt;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 16pt;
  border-bottom: 1pt solid black;
  margin-bottom: 0.2in;
}

h3, h3 + h4 {
  margin: 0;
  display: inline-block;
  font-size: 14pt;
}

h3 + h4:before {
  content: " | ";
}

h3 + p {
  margin-top: 0;
}

article {
  page-break-before: always;
}

a[href^="#"]:after {
   content: "";
}

ul,
img {
  page-break-inside: avoid;
}

main,
article {
  position: relative;
}

section {
  margin-bottom: 0.2in;
}

article p > time,
article p > span {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  max-width: 100%;
}

#left-col,
#right-col {
  max-width: 47%;
  float: left;
}

#left-col {
  margin-right: 6%;
}
