h1 {
	text-align:center;
    color:#386890;}

body {display:block;
        font-family:"Fira Sans", sans-serif;}

#nav,
#nav ul,
#nav ul li,
#nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav {
  border-bottom: 3px solid #2a4e6c;
  border-top: 3px solid #2a4e6c;
  padding: 0 5px;
  margin-bottom:1em;
  width: auto;
  background: #ffffff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#nav:after,
#nav ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#nav ul li {
  display: inline-block;
}
#nav.align-right ul li {
  float: right;
}
#nav.align-center ul {
  text-align: center;
}
#nav ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: #2a4e6c;
}
#nav ul li:hover a,
#nav ul li a:hover,
#nav ul li.active a {
  color: #c7d9e8;
}
@media all and (max-width: 640px) {
  #nav {
    padding: 0;
    border-radius: 0;
    border: 0;
  }
  #nav ul li,
  #nav.align-center,
  #nav.align-right {
    display: block;
  }
}


h3 {text-transform:uppercase;
    color:#4682b4;
    opacity:.8;}

h2 {color:#4682b4;
    opacity:.8;}

h4 {color:#90b4d2;}

.edu {border-top: 2px #6987B8;
        }		
