a {
	color: #6D7552
}

a:hover,
a:active,
a:visited {
	color: #9CA876
}

h1 {
	text-align:center;
    color:#6B7451;}

body {display:block;
        font-family:"Fira Sans", sans-serif;}

#nav,
#nav ul,
#nav ul li,
#nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav {
  border-bottom: 3px solid #3B402D;
  border-top: 3px solid #3B402D;
  padding: 0 5px;
  margin-bottom:1em;
  width: auto;
  background: #ffffff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#nav:after,
#nav ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#nav ul li {
  display: inline-block;
}
#nav.align-right ul li {
  float: right;
}
#nav.align-center ul {
  text-align: center;
}
#nav ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: #6D7552;
}
#nav ul li:hover a,
#nav ul li a:hover,
#nav ul li.active a {
  color: #9CA876;
}
@media all and (max-width: 640px) {
  #nav {
    padding: 0;
    border-radius: 0;
    border: 0;
  }
  #nav ul li,
  #nav.align-center,
  #nav.align-right {
    display: block;
  }
}

#headshot {display:block;
            margin-left:auto;
            margin-right:auto;
           }

.headshot img {
width:50%;
height: 50%;}

h3 {text-transform:uppercase;
    color:#6B7451;
    opacity:.8;}

h2 {color:#6B7451;
    opacity:.8;}

h4 {color:#6B7451;}

.edu {border-top: 2px #3B402D;
        }
.section {margin-top:50px;}
.experience {
	line-height: 75%;
}
